.container-wrapper {
  margin: 0 auto;
}

ol {
  list-style: none;
}

.list-wrapper {
  padding: 27px 0 27px;
  max-width: 2700px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .list-wrapper {
    max-width: 420px;
  }
}

@media screen and (max-width: 1169px) and (min-width: 961px) {
  .list-wrapper {
    max-width: 900px;
  }
}

@media screen and (max-width: 1539px) and (min-width: 1411px) {
  .list-wrapper {
    max-width: 1350px;
  }
}

@media screen and (max-width: 1909px) and (min-width: 1861px) {
  .list-wrapper {
    max-width: 1800px;
  }
}
